/* * {
    padding: 0;
    margin: 0;
} */
.course_title {
    font-weight: bold;
    font-size: 150%;
    padding: 10px 10px 5px 10px;
}

.course_des {
    margin: 5px;
}

.course_item {
    flex: 33%;
    /* float: left; */
    text-align: center;
    /* padding: 1px; */
    
}

/* .course_item img {
    width: 60%;
    height: 60%;
} */

#course_container {
    display: flex;
    flex-wrap: wrap;
}


#header {
    color: red;
    background-color: blue;
    text-align: center;
    padding: 80px;
    margin: 0;
    

}  
h1 {
    /* color: blue;  */
}

nav {
    background-color: #333;
    /* padding: 20px; */
    overflow: hidden;

}

nav a {
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
    /* float: left; */
    text-decoration: none;
    
}

nav a:hover {
    background-color: aliceblue;
    color: black;

}   

nav a.menu_left {
    float: left;
}

nav a.menu_right {
    float: right;
}

#first_image {
    margin: 20px 0px 20px 0px;
}

#left_side {
    flex: 30%;
    background-color: rgb(245, 224, 224);
    padding: 10px 20px;
}

#right_side {
    flex: 70%;
    background-color: yellow;
    padding: 10px 20px;
    float: right;

}

#flex_container {
    display: flex;
    /* flex-wrap: wrap; */
}

footer {
    background-color: #333;
    color: white;   
    padding: 20px; 
    text-align: center;
}

footer a {
    color: white;    
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

@media(max-width: 800px) {
    
    /* #left_side {
        flex: 100%;
    }

    #right_side {
        flex: 100%;
    } */

    #flex_container {
        flex-wrap: wrap;
    }

    .course_item {
        flex: 50%;

    }
}

@media(max-height: 400px) {
    * {
        background-color: red;
    }
}
